$primary:rgb(37, 248, 37);
$secondary:rgb(36, 246, 246);

$golden:rgb(250, 218, 39);

$weights :(
    "regular":400,
    "medium":500,
    "heavy":700
);

$regular:400;
$medium:500;
$heavy:700;


@mixin flexCenter($direction:row) {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@function fontWeight($type){
    @return map-keys($type: $weights)
}